<nav class="navbar">
  <div class="nav-content">
    <div class="nav-left">
      <a routerLink="/" class="nav-logo">ArgonFetch</a>
    </div>
    <div class="nav-right">
      <a routerLink="/about" class="nav-link">About</a>
      <button class="theme-toggle" (click)="toggleTheme()">
        <fa-icon [icon]="(isDarkTheme$ | async) ? faSun : faMoon"></fa-icon>
      </button>
      <a href="https://github.com/pianonic/argonfetch" class="github-link" target="_blank">
        <fa-icon [icon]="faGithub" class="github-icon"></fa-icon>
      </a>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>